# baseURL: https://wieting.tamatoledo.net
languageCode: en-us
title: The Wieting Theatre
theme: vanilla-bootstrap-hugo-theme
# googleAnalytics: UA-187260584-2
# googleAnalytics: UA-146526628-3
# GA4: G-ZSJCQ9CDKM

taxonomies:
  tag: tags

permalinks:
  post: /:filename/

# See https://feathericons.com/
# The value of pre is the icon name
menu:
  nav:
  - name: Home
    pre: home
    url: /
    weight: 1
  - name: About
    pre: smile
    url: /about
    weight: 14
  - name: Admissions & Concessions
    pre: clipboard
    url: /admissionconcessions
    weight: 12
  # - name: Tags
  #   pre: tag
  #   url: /tags
  #   weight: 13
  - name: RSS
    pre: rss
    url: /index.xml
    weight: 25

params:
  includeBootstrapJs: true
  showActiveNav: true
  containerMaxWidth: 1200px
  dateFormat: Jan 2, 2006
  homeText: Welcome to the NEW online home of Toledo's Wieting Theatre.
  footerText: Made with [Hugo](https://gohugo.io/) & [Vanilla](https://github.com/zwbetz-gh/vanilla-bootstrap-hugo-theme)
  hideFooter: false
  katex: true
  customCss: "css/custom.css"
  dropboxURL: ""
  social:
    share:
      facebook:
        switch: true
        url: "https://www.facebook.com/WietingTheatre/"
      linkedin:
        switch: false
      twitter:
        switch: true
        url: "https://twitter.com/WietingTheatre"
      whatsapp:
        switch: false
      email:
        switch: true
        url: "mailto:ToledoWieting@gmail.com"

markup:
  defaultMarkdownHandler: goldmark
  goldmark:
    extensions:
      definitionList: true
      footnote: true
      linkify: true
      strikethrough: true
      table: true
      taskList: true
      typographer: true
    parser:
      attribute: true
      autoHeadingID: true
    renderer:
      hardWraps: false
      unsafe: true
      xHTML: false
  highlight:
    codeFences: true
    hl_Lines: ""
    lineNoStart: 1
    lineNos: false
    lineNumbersInTable: true
    noClasses: true
    style: monokai
    tabWidth: 4
  tableOfContents:
    endLevel: 6
    startLevel: 2
