
/* Change div.debug display: to "none" to hide debug info, or "block" to display it */

div.debug {
  display: block;
  border: 2px double red;
  padding: .5em 1em;
  font-style: italic;
  margin-bottom: 2em;
}

tr {
  line-height: 0.75em;
}

div.centered {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

div.from-dbox {
  display: block
  background: whitesmoke;
  border: 5px solid green;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  margin-top: 5px;
  margin-bottom: 10px;
}

div.from-dbox p img {
  max-width: 90%;
}

div.timeline-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  border: 5px solid #1DA1F2;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  margin-top: 5px;
  margin-bottom: 2em;
}

/* Wieting changes and additions */

body {
  width: 100%;
  background: url("/images/BlueGradient.jpg");
  background-size: cover;
}

div.view-content {
  width: 86%;
  margin-left: 7%;
  background: url("/images/WietingBrickFront.png");
}

div.views-row.one-sheet-element {
  display: inline-block;
  text-align: center;
}

div.views-field {
  text-align: center;
  background: antiquewhite;
  color: #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 6px 3px;
  margin-bottom: 6px;
}

div.scroll-left {
  height: 24px;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  color: red;
}
