
/* Change div.debug display: to "none" to hide debug info, or "block" to display it */

div.debug {
  display: block;
  border: 2px double red;
  padding: .5em 1em;
  font-style: italic;
  margin-bottom: 2em;
}

tr {
  line-height: 0.75em;
}

div.centered {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

div.from-dbox {
  display: block
  background: whitesmoke;
  border: 5px solid green;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  margin-top: 5px;
  margin-bottom: 10px;
}

div.from-dbox p img {
  max-width: 90%;
}

div.timeline-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  border: 5px solid #1DA1F2;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  margin-top: 5px;
  margin-bottom: 2em;
}
