{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center">
{{ with .Content }}
  <h1>{{ $.Page.Title }}</h1>
  {{ partial "socialshare.html" $.Page }}
<!--  {{ partial "render_from_Dropbox.html" $.Page }} -->
  {{ . }}
{{ else }}
  <h1>{{ .Site.Title }}</h1>
  <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
{{ end }}

</div>

<!-- Start Wieting code -->
<div role="main" class="main-container container js-quickedit-main-content">
    <div class="row">
      <div class="col-sm-12" role="heading">
        <div class="region region-header">
          <section class="views-element-container block block-views block-views-blockupcoming-shows-block-2 clearfix" id="block-wieting-theme-views-block-upcoming-shows-block-2-2">

            <div class="form-group">
              <div class="view view-upcoming-shows view-id-upcoming_shows">

                <div class="view-header">
                  <div class="scroll-left">
                    <p>The Wieting's movie schedule is subject to change without notice.  Please check here often for the latest schedule updates!</p>
                  </div>
                  <img src="images/TheWieting-Banner1000.png" style="width:100%">
                </div>

                <div class="view-content">
                  <!-- Display our marquee, a grid of upcoming shows -->
                  <div class="one-sheet-views-grid">
                    {{ range where .Site.Pages "Type" "show" }}
                    	{{ partial "marquee-show.html" . }}
                    {{ end }}
                  </div>
                </div>
          </section>
        </div>
      </div>

{{ end }}
