{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center">
{{ with .Content }}
  <h1>{{ $.Page.Title }}</h1>
  {{ partial "socialshare.html" $.Page }}

  <div class="timeline-card">
    <a class="twitter-timeline" data-tweet-limit="1" data-width="900" data-height="200" data-theme="light" href="https://twitter.com/Tamacafe1?ref_src=twsrc%5Etfw">Tweets by Tamacafe1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  {{/* partial "render_from_Dropbox.html" $.Page */}}
  {{ . }}
{{ else }}
  <h1>{{ .Site.Title }}</h1>
  <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
{{ end }}
</div>

{{ end }}
